body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

header {
    background: #0b1cff;
    padding: 20px;
    text-align: center;
}

nav {
    background: black;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #0b1cff;
}

.banner {
    height: 250px;
    background: linear-gradient(to right, #000, #0b1cff);
}

.content {
    padding: 20px;
}

.gallery img {
    width: 30%;
    margin: 1%;
    border-radius: 10px;
}

form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

footer {
    background: black;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

.banner {
    height: 300px;
    background-image: url("../Gambar/nissan-skyline-gt-r-bekas-paul-walker.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text {
    background: rgba(0,0,0,0.6);
    padding: 20px 40px;
    text-align: center;
    border-radius: 10px;
}

.banner-text h1 {
    margin: 0;
    font-size: 36px;
}

.banner-text p {
    margin: 5px 0 0;
    font-size: 18px;
}

.engine-img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto 20px auto;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.7);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.gallery img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}